*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
}

/* Navbar */
.navbar{
    width:100%;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#111;
}

/* Logo */
.logo h2{
    color:#fff;
    font-size:30px;
}

.logo span{
    color:#00bfff;
}

/* Right Side */
.nav-right{
    display:flex;
    align-items:center;
    gap:40px;
}

/* Navigation */
.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:.3s;
}

.nav-links a:hover{
    color:#00bfff;
}

/* Hire Button */
.hire-btn{
    text-decoration:none;
    background:#00bfff;
    color:white;
    padding:12px 25px;
    border-radius:30px;
    transition:.3s;
}

.hire-btn:hover{
    background:white;
    color:#00bfff;
}